iframe {
    border: 0;
    height: calc(100% - 36px - 33px);
    width: 100%;
}

nav {
    background-color: rgb(87, 87, 87);
    display: flex;
    padding: 4px 0;
    place-content: center;
    place-items: center;
}

nav div {
    display: flex;
    justify-content: space-around;
    min-width: 102px;
    padding-left: 6px;
    width: 102px;
}

nav button {
    border-radius: 50%;
    display: flex;
    height: 28px;
    place-content: center;
    place-items: center;
    transition: background 0.2s ease-in-out;
    width: 28px;
}

nav button svg {
    fill: rgb(240, 240, 240);
    height: 22px;
    width: 22px;
}

nav button:hover {
    background-color: rgb(103, 103, 103);
}

nav button:active {
    background-color: rgb(110, 110, 110);
}

nav button:disabled {
    background-color: inherit;
}

nav button:disabled svg {
    fill: rgb(152, 152, 152);
}



nav:not(:first-child) {
    border-bottom: 1px solid rgb(118, 115, 118);
    height: 33px;
    justify-content: left;
    padding: 0 8px;
}

nav:not(:first-child) button {
    margin-bottom: 4px;
    margin-right: 4px;
}


nav input {
    background-color: rgb(64, 62, 65);
    border-radius: 18px;
    color: rgb(255, 255, 255);
    /*font-family:;*/
    font-size: 13px;
    height: 28px;
    letter-spacing: 0.2px;
    line-height: 26px;
    margin: 0 6px;
    padding: 0 13px;
    width: 100%;
}

nav input:focus {
    outline: 2px solid rgb(138, 180, 248);
}
